.DS_Store
.obsidian/core-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/appearance.json
.obsidian/workspace.json
.obsidian/workspace 2.json
meeting_notes/Weekly Meetings w. Matt.md
Pasted image 20230814142434.png
